#.vscode
/.vscode/
/frames
/app_spraysense/__pycache__/
/app_spraysense/GUI/__pycache__/
/utils/__pycache__/
/venvs/*
!/venvs/.gitkeep
/logs/
/build
/install
/log
/tmp
/src/abb_rws_pkg/abb_rws_pkg/__pycache__/
/src/camera_pkg/camera_pkg/__pycache__/
